@import "vars.less";
@import "/bower_components/lesshat/build/lesshat.less";
@import "/scripts/directives/index.less";

html, body {
    padding: 0;
    margin: 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 45px auto 45px auto;
  width: 675px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.description {
    & h1 {
      font-size: 30px;
    }

    width: 80%;
    padding: 20px;
    margin: 10px auto;
}
