.carousel {
    &-action {
        position: absolute;
        top: 0;

        width: 35px;
        background: white;
        cursor: pointer;
        font-size: 44px;
        font-weight: lighter;
        border: none;
        margin: 0px;
        padding: 0 5px;
        height: 100%;
        z-index: 1;

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;
        }

        &:hover {
            color: @line-color;
        }

        &:disabled {
            color:graytext;
        }

        &:focus {
            outline: none;
        }
    }

    &-container {
        white-space: nowrap;
        position: relative;
        background-color: white;
        overflow: hidden;
        padding: 0 30px;

        & :first-child {
            .transition(margin-left .3s ease);
        }
    }
}