<button class="carousel-action carousel-action-prev" ng-disabled="currentIndex <= 0" ng-click="prev()"><</button>
<button class="carousel-action carousel-action-next" ng-disabled="currentIndex >= length" ng-click="next()">></button>