.highchart {
	display: inline-block;
	width: 45%;
	position: relative;

	.main-chart &, .main-chart &-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&-menu {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		list-style-type: none;
		white-space: nowrap;

		&-item {
			display: inline-block;
			opacity: 0.3;
			.transition(opacity .4s ease);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}

			& .typcn {
				color: inherit;
				text-decoration: none;
			}
		}

		& .typcn:before {
			font-size: 1.4em;
		}
	}

	&-title-hover &-menu-item-edit {
		opacity: 1;
	}

	&-action {
		&-edit {
			width: 50%;
			border: none;
			margin-top: 7px;
			position: absolute;
			z-index: 1;
			text-align: center;
			font-size: 18px;
			font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

			&-container {
				text-align: center;
				margin-left: -50%;
			}
		}
	}
}