<div class="highchart">
	<ul class="highchart-menu">
		<li ng-repeat="(key,item) in menu" 
			title="{{item.title}}"
			class="highchart-menu-item highchart-menu-item-{{key}}"
			ng-click="action.on(key)"
			ng-if="item">

			<span class="{{item.className}}" ng-if="key !== 'link'"></span>
			<a class="{{item.className}}" ng-if="key === 'link'" ng-href="#/chart-{{index}}/"></a>
		<li>
	</ul>

	<div ng-if="action.type === 'edit'" class="highchart-action-edit-container">
		<input type="text" 
			ng-model="action.model" 
			ng-blur="action.off()" 
			autofocus="autofocus" 
			class="highchart-action-edit" 
			ng-keyup="eventEdit($event)"
			ng-init="focusEditInput()"
			/>
	</div>

	<div class="highchart-wrapper" ng-click="checkTitleEdit($event)"></div>
</div>