<div class="hero-unit description">
  	<h1>Carousel Highgcharts Test Work</h1>
  	<p>Hello!<br/>
	The test work is done on <b>Angular.js</b> framework. The application contains modules 
	<ul>
		<li>app - starting point for application, all routes are declared here</li>
		<li>data - stores raw json files</li>
		<li>directives - ui widgets, such as carousel and highchart</li>
		<li>services - keeps data for application</li>
		<li>views - mirrors routes to real pages</li>
	</ul>
	I used <b>RequireJS</b> as a common script loading mechanism, the <i>main.js</i> describes common configuration, modules and widgets are declared inside the application.
	The application starts at <i>app/app.js</i> - it loads dependencies and declares routes. After that, when the url is recognized, it goes to specific controller. There are 2 controllers - one main controller with small description and charts carousel and a single chart controller. 
	I wrote a small carousel widget for the <a ng-href="#/">main page</a>. When the page is loaded, it calls for data service for charts data. As soon as service got it, it is rendered on a page. A user can change title by clicking menu icon and a title element on a chart. Also, he can open a chart in a <a ng-href="#/chart-0">separate page</a>.
	I used less for styling the application and used small libraries - lesshat for mixins and typicons for icons.	
</div>