<div ng-controller="viewsMain">
	<div class="hero-unit description">
      	<h1>Carousel Highgcharts Test Work</h1>
      	<p>Hello!<br/>
		This is simple test work done on <b>Angular.js</b> framework. On this page you can see charts "carousel" widget. You can edit a chart title or open it in separate page. Click <a ng-href="#/description/">here</a> to see the description.
    </div>

	<div carousel>
		<highchart ng-repeat="(index, chartConfig) in items">
	</div>
</div>